<footer>
    <div class="footer-container">
        <p>&copy; 2025 Luke Guppy</p>
        <div class="footer-links">
            <a href="https://linkedin.com/in/lukeguppy">LinkedIn</a>
            <a href="https://github.com/lukeguppy">GitHub</a>
        </div>
    </div>
</footer>