<footer>
    <div class="footer-container">
        <p>&copy; 2025 Luke Guppy</p>
        <ul>
            <li><a href="https://linkedin.com/in/lukeguppy">LinkedIn</a></li>
            <li><a href="https://github.com/lukeguppy">GitHub</a></li>
        </ul>
    </div>
</footer>