<header>
    <nav>
        <div class="nav-container">
            <h1>{{ pageTitle or site.title }}</h1>
            <ul>
                {% if title == "Home" %}
                <li><a href="{{ "/about-me/" | url }}">About Me</a></li>
                <li><a href="{{ "/games/" | url }}">Games</a></li>
                <li><a href="{{ "/dissertation/" | url }}">Dissertation</a></li>
                <li><a href="{{ "/contact/" | url }}">Contact</a></li>
                {% else %}
                <li><a href="{{ "/" | url }}">Home</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>