---
layout: base.njk
title: Contact
pageTitle: Contact
---

<section class="hero">
    <div class="hero-content">
        <h1>Contact Me</h1>
        <p>Get in touch!</p>
    </div>
</section>

<section class="contact-content">
    <div class="contact-card">
        <h2>Let's Connect</h2>
        <p>I'm always open to discussing new opportunities or any other questions.</p>
        <div class="contact-details">
            <div class="contact-item">
                <h3>Email</h3>
                <p>lukewguppy@gmail.com</p>
            </div>
            <div class="contact-item">
                <h3>LinkedIn</h3>
                <p><a href="https://www.linkedin.com/in/lukeguppy" target="_blank">linkedin.com/in/lukeguppy</a></p>
            </div>
            <div class="contact-item">
                <h3>GitHub</h3>
                <p><a href="https://github.com/lukeguppy" target="_blank">github.com/lukeguppy</a></p>
            </div>
        </div>
    </div>
</section>