---
layout: base.njk
title: Games
pageTitle: Games
---

<section class="hero">
    <div class="hero-content">
        <h1>Games</h1>
        <p>Explore the games I've implemented. Click on a game to play!</p>
    </div>
</section>

<section class="games">
    <div class="games-grid">
        {% for game in site.games %}
        <a class="game-card" href="{{ game.playUrl }}">
            <img src="{{ game.image }}" alt="{{ game.title }} Thumbnail">
            <h3>{{ game.title }}</h3>
            <p>{{ game.description }}</p>
        </a>
        {% endfor %}
    </div>
</section>